// Colours

$primary-color: #0f2911;
$second-bg-color:#aeb6a4;
$hilight: #ffffff;


// Fonts
$header-font: "Helvetica Neue", Helvetica, sans-serif;
$body-font: "Helvetica Neue", Helvetica, sans-serif;